# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 00646db77bc0dba4ee5313a44be8614a4e73681c2e4c0b3ff568e3daeb783af002838facf23c5a03ebc6af4d946fa8f7b356ddcbce0eec2032dcb5ab4b6a09dd

test:
  secret_key_base: 37429dfdb0fe8cf9f7b56b762fff7fd7cc24a181e851134ea47f9fd87ead77505396e96dc0c99b6514dba7138d5b2dbb03ab1c5527036e245c8bf3e07424fa0b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
